{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "array-includes"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
